@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'Acme', sans-serif;
    background: rgb(248, 230, 230);
}

.container {
    display: grid;
    grid-template-rows: 90px 1fr;
    height: 100%;
}

.header {
    /* position: fixed; */
    grid-row: 1;
    width: 100%;
    height: 90px;
    background:rgb(63, 8, 1);
    color: #fff;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    padding: 15px;
    z-index: 5;
}

.wrap {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 370px;
    width: 100vw;
    height: calc(100vh-90px);
}

.main table {
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 100px auto 200px auto;
}

.main table th {
    font-size: 19px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    bordeR: 1px solid #000;
    padding: 20px 0px;
    font-weight: 400;
    background:rgb(177, 112, 104);
    color: rgb(248, 230, 230);
}

.main table tr th:nth-child(1) {
    width: 400px;
}

.main table tr th:nth-child(2) {
    width: 250px;
}

.main table tr th:nth-child(3) {
    width: 150px;
}

.main table tr th:nth-child(4) {
    width: 150px;
}

.main table tr th:nth-child(5) {
    width: 150px;
}

.main table tr td {
    padding: 10px 0 10px 5px;
    font-size: 18.5px;
    text-align: center;
}

.main .material-icons::before{
    font-family: 'Material Icons';
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.main .read::before {
    content: '\e86c';
    color: rgb(3, 189, 3);
    font-size: 20px;
    margin-left: 60px;
}

.main .unread::before {
    content: '\e5c9';
    color: rgb(189, 3, 3);
    font-size: 20px;
    margin-left: 60px;
}

.main .material::before{
    font-family: 'Material Icons';
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.main .delete::before {
    content: '\e872';
    color: rgb(51, 51, 51);
    font-size: 20px;
}

.main table button {
    position: absolute;
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;;
    right: 0px;
    bottom: -50px;
    border: 1.5px solid rgb(63, 8, 1);
    border-radius: 3px;
    background: rgb(248, 230, 230);
}

.main table button:hover {
    border: 2px solid rgb(110, 62, 54);
    background: #fff;
}

.side {
    top: 90px;
    right: 0;
    bottom: 0;
    width: 370px;
    height: calc(100vh - 90px);
    display: grid;
    justify-items: center;
    grid-template-rows: 1.5fr 1fr 0.1fr;
    background: rgb(187, 120, 111);
}

.side table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgb(63, 8, 1);
    margin: 50px auto 0;
}

.side table tr th {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 300;
}

.side table td {
    font-size: 18px;
    padding: 10px;
}

.side .add-book .add {
    padding: 15px 30px;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}

.window {
    position: absolute;
    width: 450px;
    height: 500px;
    top: 20vh;
    left: 40vw;
    background:rgb(129, 76, 68);
    border: 2px solid rgb(110, 62, 54);
    border-radius: 15px;
    z-index: 11;
}

h2 {
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

.window .form div {
    position: relative;
    display: flex;
}

.window .floating-label {
    position: absolute;
    font-size: 20px;
    opacity: 0.6;
    top: 20px;
    left: 25px;
    transition: all 0.7s;
}


.window input[type="text"], input[type="number"] {
    appearance: none;
    width: 100%;
    height: 50px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    background: transparent;
    outline: none;
    border: none;
    padding: 14px 0 0 5px;
    margin: 0 20px 25px;
    border-bottom: 1px dashed #000;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    transform: scale(0.9) translateY(-27px);
}

.window .check {
    margin: 20px;
    font-size: 20px;
}

.window .check input[type="checkbox"] {
    display: grid;
    width: 17px;
    height: 17px;
    border: 2px solid #000;
    margin: 2px 12px 0 15px;
    place-content: center;
    appearance: none;
}

.window .check input[type="checkbox"]::before {
    content: '';
    width: 12px;
    height: 12px;
    transform: scale(0);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color:rgba(0, 0, 0);
    transition: 0.5s transform ease-in-out;
}

.window .check input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.btns {
    display: flex;
    gap: 50px;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}

.window button {
    width: 135px;
    height: 45px;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    background: rgb(248, 230, 230);
    cursor: pointer;
}

.window button:hover {
    border: 2px solid rgb(110, 62, 54);
    outline: 2px ridge rgb(110, 62, 54);
    outline-offset: 2px;
}

.page {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.create {
    margin-bottom: 30px;
}